<%- include("partials/header.ejs") %>

    <body>
        <a class="btn btn-primary" href="/">Back to Search</a>
        <h1> Quotes Found </h1>

        <% for (i of quotes) { %>

            <%= i.quote %> <br>
                -<em>
                    <a class="authorLink" href="#" id="<%=i.authorId%>">
                        <%= i.firstName %>
                            <%= i.lastName %>
                    </a>
                </em>
                <br>
                <span><%= i.category %></span>
                <span>Likes: <%= i.likes %></span>
                <br><br>

                <% } %>

                    <!-- Modal -->
                    <div class="modal fade" id="authorModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Author Information</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="authorInfo"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%- include('partials/footer.ejs') %>

                        <script src="/js/scripts.js"></script>
    </body>

    </html>